= simple_form_for @post do |f|
  = f.input :title, placeholder: 'Title'
  = f.input :content
  = f.input :tag_list, placeholder: 'Tags, comma separated'
  = f.submit class: 'btn'
  %div#editor 
= javascript_include_tag '/assets/ace_vimtura/main'
