= simple_form_for @post do |f|
  = f.input :title, placeholder: 'Title'
  = f.input :content
  = f.input :tag_list, placeholder: 'Tags, comma separated'
  = f.submit class: 'btn'
= form_tag '/posts/upload', remote: true, id: 'upload', multipart: true, data: { type: :text} do |f|
  = file_field_tag :file
  = submit_tag 'Upload'
