%h1= @post.title
%div.container
  %ul.taglist
    -@post.tag_list.each do |tag|
      %li
        %a.tag{ href: "/posts/search?tags=#{tag}" } #{tag}
  - if signed_in?
    %nav.hor
      %ul
        %li
          %a.btn{ href: edit_post_path(@post) }
            %span.flaticon.flaticon-pen
              Edit
        %li
          %a.btn{ href: post_path(@post), 'data-method': 'delete', 'data-confirm': 'Are you sure?' }
            %span.flaticon.flaticon-cross
              Delete
%article.render{ 'data-source' => @post.content, 'data-filetype' => 'haml' }

- content_for :title do 
  = raw @post.title
- content_for :meta_description do
  = raw @post.snippet
- content_for :meta_keywords do
  = raw @post.tag_list.join(',')
