!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1' }
    %meta{:name => 'keywords', :content => 'software, development, web, programming, administration, linux'}
    %meta{:name => 'description', :content => 'Personal software engineering blog'}
    %title Caffeine Driven Devel
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = render file: 'layouts/_ga'
    = csrf_meta_tags
  %body
    %div.main
      %header.navbar.hor
        %a.logo{href: '/about'}
          %h1 Caffeine driven devel
      - if alert
        %p.alert= alert
      - if notice
        %p.notice= notice
      %aside.navbar
        %nav.ver
          %ul
            %li
              %a.container{ href: '/about'}
                .row
                  .flaticon.flaticon-coffee.col-center.col-all-12
                %small.row
                  .col-center.col-all-12 about
            %li
              %a.container{ href: '/posts/'}
                .row
                  .flaticon.flaticon-stack.col-center.col-all-12
                %small.row
                  .col-center.col-all-12 posts
            %li
              %a.container{ 'data-modal' => 'search_modal', 'data-url' => '/posts/search_form' }
                .row
                  .flaticon.flaticon-zoom.col-center.col-all-12
                %small.row
                  .col-center.col-all-12 search
            %li
              %a.container{ href: '#'}
                .row
                  .flaticon.flaticon-arrow-up.col-center.col-all-12
                %small.row
                  .col-center.col-all-12 go to top
            %li
              %a.container{ href: '/contacts/new'}
                .row
                  .flaticon.flaticon-person.col-center.col-all-12
                %small.row
                  .col-center.col-all-12 contact
      %div.content
        = yield
      -if content_for? :tags
        %aside#tags.panel
          =yield :tags
  %div#search_modal.modal
    %div.modal-header
      %span.flaticon.flaticon-cross.toggle
    %div.modal-content
      %h1.flaticon.flaticon-gear
