!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1' }
    %title Caffeine Driven Devel
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div.main
      %header.navbar.hor
        %a.logo{href: '/'}
          %h1 Caffeine driven devel
      - if alert
        %p.alert= alert
      - if notice
        %p.notice= notice
      %aside.navbar
        %nav.ver
          %ul
            %li
              %a{ href: '/'}
                %span.flaticon.flaticon-coffee.logo
            %li
              %a{ href: '/posts/'}
                %span.flaticon.flaticon-menu
            %li
              %a{ 'data-modal' => 'search_modal', 'data-url' => '/posts/search_form' }
                %span.flaticon.flaticon-zoom
            %li
              %a{ href: '#'}
                %span.flaticon.flaticon-arrow-up
      %div.content
        = yield
      -if content_for? :tags
        %aside#tags.panel
          =yield :tags
  %div#search_modal.modal
    %div.modal-header
      %span.flaticon.flaticon-cross.toggle
    %div.modal-content
      %h1.flaticon.flaticon-gear
